*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Times New Roman', Times, serif;
	
	   
	}

	body {
		background:white;
	}

/*-------estilo contenedor----------*/

.contenedor-galeria{
	width: 100%;
	height: 100%;
	max-width: 1330px;
	max-height: 2500px;
	margin: auto;
	padding: 0%;
	text-align: center;
	background: rgb(15, 14, 14);
	border: solid 3px white;
	display: grid;
	grid-template-columns: repeat(4);

  
}



 .fila1, .fila2, .fila3, .fila4{
	padding: 15px;
	width: 100%;
	max-width: 1330px;
	margin-bottom: 5px;
	
	border: solid 1px gray;
	grid-column-start: 1;
	grid-column-end: 4;
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
	

}


/* titulo */

.titulo{
	padding: 30px;
	background: gray;
	
	grid-column-start: 1;
	grid-column-end: 4;
}
h1{
	color: white;
	text-align: center;
	margin: 0;
	padding: 5%;	
}


/* fila1 */

.fila1{
	
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background: gray;
	padding: 15px;
	
	align-items:center;
	
}

.fila1 figure{
	
	width: 35%;
	margin: 20px;
	height:90%;
	background: indianred;
	position: relative;
	transition: all ease .6s;
	transform-style: preserve-3d;
	transform: perspective(1500px) rotateY(0deg); 
	border-radius:5px;
}

.fila1 figure img{
	
	height: 100%;
	width: 100%;
	border-radius:5px;
 }

 .fila1:hover figure{
	-webkit-transform: perspective(1500px) rotateY(180deg);
	-ms-transform:perspective(1500px) rotateY(180deg);
	-o-transform:perspective(1500px) rotateY(180deg);
	transform: perspective(1500px) rotateY(180deg);
}

figure .frontal,
figure .trasera{
	border-radius: 10px;
	width: 100%;
	height: 100%;
	transition: all ease .6s;
	-webkit-box-shadow:0px 10px 15px -5px rgba(0,0,0,0.65);
 -moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
 box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

figure .frontal{
	display: block;


}

figure .trasera{

	position: absolute; 
	 top: 0;
	left: 0; 
	transform: perspective(1500px) rotateY(180deg);
	backface-visibility: hidden;
}




 /*-------       Fila 2 -------------------------*/

 .fila2{
	
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	background: gray;
	
	justify-content: space-around;
	align-items:center;
	
}

.fila2 figure{
	width: 35%;
	background:white;
	height:90%;
	margin: 20px;
	position: relative;
	border-radius:10px;
}

.piernas{
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items:center;
}


.fila2 figure img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	
}


.piernas:hover .texto {
	visibility: visible;
	right: 50px;
}

.texto{
	width: 80%;
	height: 20%;
	border-top: solid 3px white;
	border-bottom:solid 3px white;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: ease .8s;
	right: 500px;
	
}


.texto h1 {
	color: black;
}

/* cuadro montaña */

.montaña{
	
	justify-content: center;
	align-items: center;
	align-content: center;
	display:flex;
	
}



.cuadrado{
	
   -ms-transform: rotate(42deg); 
    transform: rotate(42deg); 
	border:solid 2px white;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0;
	width: 45%;
	height: 60%;
	position: absolute;
  
}

.iconos svg:hover{
	color: fuchsia;
 
}

.cuadrado:hover {
	animation: cambia .8s linear infinite ;
}

@keyframes cambia {
	0%   {border:white solid;}
	40%  {border:yellow solid;}
	50%  {border:yellow solid;}
	60%  {border:green solid;}
	75%  {border:green solid;}
	80%  {border:red solid;}
	100% {border:red solid;}
  }


.iconos svg{
	width: 70%;
	height: 70%;
	color: white;
	
	}
	path {
		fill: currentColor !important;
	}
	

	.icon-file-pdf {
		grid-area: icon-file-pdf;
	  }
	  .icon-file-picture{
		grid-area: icon-file-picture;
	  }
	  .icon-file-zip{
		grid-area: icon-file-zip;
	  }
	  .icon-file-text2{
		grid-area: icon-file-text2;
	  }


.iconos{
	width: 50%;
	height: 60%;
	display: grid;

	grid-template-areas: 'icon-file-pdf icon-file-picture'
	            'icon-file-zip icon-file-text2';
	-ms-transform: rotate(-42deg); 
    transform: rotate(-42deg); 
}




/* ---------------------------fila3 ---------------------------*/

.fila3{
	
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	background: gray;
	align-items:center;
	
}

.fila3 .puente, .suelo{
	width: 35%;
	background:white;
	height:90%;
	margin: 20px;
	position: relative;
	border-radius:10px;
	
}

.suelo{
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	
}

.fila3 figure img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.capa-gris{
	width: 115%;
	height: 50%;
	opacity: 0.8;
	background: rgb(29, 28, 28);
	position: absolute;
	display: flex;
    top: 420px;
	color: white;
	transform: rotate(-20deg);
	

} 

.fila3 figure:hover img{
	transition: .4s;
} 
.fila3 figure:hover .capa-gris{
	top: 250px;
	transition: .4s;
}

.fila3 figure:hover .iconos2{
	top: 290px;
	transition: .8s;
}

.iconos2{
	width: 100%;
	height: 30%;
	top: 400px;
	position: absolute;
	display: flex;
	justify-content: flex-end;
	color: white;
}



.iconos2 svg{
	width: 25%;
	height: 25%;
	
	}


/* fila 4 */


.fila4{
	
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	background: gray;
	align-items:center;
	
}

.fila4 .contenedor-a, .contenedor-b{
	width: 35%;
	background: pink;
	height:90%;
	margin: 20px;
	position: relative;
	border-radius:10px;
		
-webkit-box-shadow:0px 10px 15px -5px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	
}

.contenedor-a img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.contenedor-b img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.fila4 .contenedor-a, .contenedor-b{
   
	overflow: hidden;
	
}


.fila4 img{
	transition: .2s;

}


.contenedor-b img:hover {
transform: scale(1.2);
 }

.contenedor-a img:hover {
transform: scale(1.2);
 }







 